.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}
.boton-contenedor:disabled{
  background-color: gray;
}

.boton-contenedor:hover {
  background-color: blueviolet;
}

.operador {
  background-color: #3232ae;
}

.operador:hover {
  background-color: orange;
}
